p{
    font-family: bondoni;
    font-size: 1.5cm;
    font-style: normal;
}

h1{
    font-size: 4cm;
    font-family: Trebuchet MS;
    background-color: greenyellow;
    border-radius: 1.5cm;

}

h3{
    font-size: 1cm;
    font-family: georgia;
    background-color: rgb(241, 219, 228);
    border-style: groove;
    border-radius: 1cm;
}


legend{
    font-family: bondoni;
    border-style: dashed;
}